#button {
    cursor: pointer;
}
.button {
    background-color: #1c87c9;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 2px 2px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    position: absolute;
}

.button:hover {
    background-color: #3e8e41;
  }

#mudgashText {
    background-color: yellow;
}
.mudgashText {
    background-color: yellow;
}

#colorText {
    color: red;
}
.colorText {
    color: red;
}

#myText {
    font-weight: 700;
}
.myText {
    font-weight: 700;
}

#ulText {
    text-decoration: underline;
}
.ulText {
    text-decoration: underline;
}

#unFormattedText {
    color: black;
}
.unFormattedText {
    color: black;
}

#divetext {
    border: 1px solid;
}
.divetext{
    height: 350px;
    width: 95%;
    background-color: white;
    color: black;
    overflow: scroll;
}

#divca{
    border: 1px solid;
}
.divca {
    height: 350px !important;
    width: 95%;
    background-color: white;
    color: black;
    overflow: scroll;
}

#wrdlstText {
    border: 1px solid;
}
.wrdlstText {
    height: 280px;
    width: 20%;
    color: black;
    overflow: scroll;
}

#clearField {
    cursor: pointer;
}
.clearField{
    background-color: #FFCCBC;
    border: 1px;
    border-radius: 1px;
    border-color: #FFCCBC;
    color: black;
    padding: 1px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 2px 2px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
}

.clearField:hover {
    background-color: #3e8e41;
  }

#copyText{
    cursor: pointer;
}
.copyText {
    background-color: #AED6F1;
    border: 1px;
    border-radius: 1px;
    border-color: black;
    color: black;
    padding: 1px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 2px 2px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.copyText:hover {
    background-color: #3e8e41;
  }

#divurl {
    border: 1px solid;
}
.divurl{
    position: absolute;
    right: 250px;
    height: 300px;
    width: 10%;
    color: black;
    border: 1px solid;
    overflow: scroll;
}
#wrdlst {
    border: 1px solid;
}
.wrdlst {
    position: relative;
    left: 1px;
    height: 300px;
    width: 20%;
    color: black;
    border: 1px solid;
    overflow: scroll;
}
#divURLheadlines{
    font: 20px Arial, sans-serif;
}
.divURLheadlines {
    position: absolute;
    right: 340px;
    font: 20px Arial, sans-serif;
}

#headlines {
    font: 20px;
}
.headlines {
    font: 20px Arial, sans-serif;
}

#checkboxDIV {
    border: none;
}
.checkboxDIV {
    position: absolute;
    left: 400px;
}

#allAtt {
    font-weight: bold;
}
.allAtt {
    font-weight: bold;
}

#mail-image {
    position: relative;
}
.mail-image {
    right: 0;
    bottom: 0;
    float: right;
}

/* .mail-image.imagetooltiptext{
    visibility: hidden;
    width: 180px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 3px;
}
.mail-image:hover.imagetooltiptext {
    visibility: visible;
} */

#limitations {
    color: red;
}

/* .limitations:hover:after {
    display: inline-block;
    content: attr(data-tooltip);
    white-space: pre-wrap;
    position: absolute;
    background-color: black;
    color: #fff;
    text-align: left;
    font-size: 20px;
    border-radius: 3px;
    width: 400px;
} */

input[type="file"] {
    display: none;
}
.custom-file-upload {
   
    cursor: pointer;
    background-color: #1c87c9;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 2px 2px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    position: absolute;
    margin: 0 auto;
    width: 50px;
}

.custom-file-upload:hover {
    background-color: #3e8e41;
  }

.checkboxLabel {

    font-size: 20px;

}
/*scale checkbox */
input.largeCheckBox {
    transform: scale(1.4);
  }

  .textButton {
    width: 200px;
    margin: 0 auto;
    display: inline;
}